@model Registration.uUser

@{
    ViewBag.Title = "Register";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section heads{
    <link href="~/CustomCSS/Register.css" rel="stylesheet" />


}
<head>
    <link href="~/CustomCSS/Register.css" rel="stylesheet" />

    <style>
        body {
            background-color: #31708E;
        }

        #RegistrationFormLayout {
            // background-color: #f7f9fb;
            //padding: 100px,50px,50px,50px;
            margin-top: 100px;
            background-color: #31708E;
        }

            #RegistrationFormLayout #registrationForm {
                background-color: #f7f9fb;
                padding-top: 20px;
                padding-left: 20px;
                border-left: 1px solid #d5abab;
                border-right: 1px solid #d5abab;
                box-shadow: rgb(216, 211, 211) 5px 5px 2px 2px inset;
                box-shadow
            }

            #RegistrationFormLayout #registrationForm h2
            {
              //  background-color : lightgoldenrodyellow;
                text-align: center;
                margin : 0px;
                margin-bottom:20px;
                font-size : 28px;
                font-weight:bold;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
            }
                #RegistrationFormLayout #registrationForm #username, #email, #password {
                    background-color: #f7f9fb;
                    border-bottom: 2px solid grey;
                    border-inline-end:aqua;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    border-left-color: transparent;
                }

                
                
              
    </style>
</head>;

<body>
    <div id="RegistrationFormLayout">

        <div class="row">
            <div class="col-md-offset-3 col-md-6" id="registrationForm">
                @if (TempData["message"] != null)
                 {
                    <h4> @TempData["message"].ToString()</h4>

                 }
                @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                 {
                    <h2>Register</h2>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="input-group">
                                    <span class="input-group-addon"> <i class="glyphicon glyphicon-user"> </i></span>
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @id="username", @PlaceHolder="User Name"} })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>

                            </div>

                        </div>
                        <br />
                        <br />
                        <br />

                        <div class="form-group">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="input-group">
                                    <span class="input-group-addon"> <i class="glyphicon glyphicon-envelope"> </i></span>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id="email",@PlaceHolder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>

                            </div>

                        </div>
                        <br />
                        <br />
                       

                        <div class="form-group" id="pass">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="input-group">
                                    <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"> </i></span>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id="password", @PlaceHolder = "Password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-5">
                                <input type="submit" id="Submit" value="create" class="btn btn-primary" />
                            </div>

                        </div>

                    </form>



                }

            </div>



        </div>
    </div>
</body>
@*<script>
     $(document).ready(function(){
      $("#submit").on("click",function()
      {
       alert('Your Message');
      });

    });
    <script>*@



@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>uUser</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
